<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/AI_Form.jpeg` | relURL }}" width="200" height="200" alt="AI">
        <h2 class="h2">AI-Powered Form Assistance<small class="d-none">🛡️</small></h2>
        <p>
            Use AI to help you navigate filling out forms by providing pertinent, helpful tips 
            in you native language. Our models are trained to distill the complex guidlines outlined
            in government help forums and documentation so you don't have to do the hard work.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/Expert_Help.jpeg` | relURL }}" width="200" height="200" alt="Expert">
        <h2 class="h2">Expert Help <small class="d-none">🚀</small></h2>
        <p>
            Leverage a powerful network of licensed professionals to help answer questions in realtime
            and review your forms. No more need for pesky, costly appointments that leave you more confused.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/Security.jpeg` | relURL }}" width="200" height="200" alt="Bootstrap">
        <h2 class="h2">Secure Platform <small class="d-none">📈</small></h2>
        <p>
            Robust privacy controls and data protection measures to safeguard sensitive information.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Community Forums<small class="d-none">🦉</small></h2>
        <p>Online community forums where immigrants can share experiences, ask questions, and offer support to each other.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Language Support<small class="d-none">✨</small></h2>
        <p>Multilingual support to cater to immigrants who speak languages other than English.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Integration with Government Portals <small class="d-none">🧰</small></h2>
        <p> Integration with government portals to streamline the submission process and ensure compliance with official requirements.</p>
    </div>
</div>
